<table class="w-full bg-[#F0F5F5]">
  <tr>
    <td class="pt-[32px] px-[20px]">
      <table class="w-full">
        <tr>
          <td class=" text-[#005555] text-[24px] text-center font-bold px-[20px] pb-[32px] leading-[28px]">
            Sint cupidatat occaecat ut
          </td>
        </tr>
        <tr>
          <td class="pb-[40px]">
            <table class="w-full text-center">
              <tr>
                <td class="w-[48%] text-center bg-[#FFFFFF] pb-[32px] px-[25px] xs:w-full xs:inline-block">
                  <table class="w-full text-center">
                    <tr>
                      <td class="px-xs text-center pb-[8px] pt-[28px]">
                        <x-image class="w-[100px]" imgUrl="image-5.jpg" href="#" />
                      </td>
                    </tr>
                    <tr>
                      <td class="text-[18px] text-[#005555] font-bold text-center pt-[8px] leading-[20px]">
                        Nisi ut ade
                      </td>
                    </tr>
                    <tr>
                      <td class="text-base text-center pt-[16px] leading-[20px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="w-[4%] text-[#005555] xs:w-full xs:inline-block sm:pt-3">&nbsp;</td>
                <td class="w-[48%] text-center bg-[#FFFFFF] pb-[32px] px-[20px] xs:w-full xs:inline-block">
                  <table class="w-full text-center">
                    <tr>
                      <td class="px-xs text-center pb-[8px] pt-[28px]">
                        <x-image class="w-[100px]" imgUrl="image-5.jpg" href="#" />
                      </td>
                    </tr>
                    <tr>
                      <td class="text-[18px] text-[#005555] font-bold text-center pt-[8px] leading-[20px]">
                        Duis aute irure
                      </td>
                    </tr>
                    <tr>
                      <td class="text-base text-center pt-[16px] leading-[20px]">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>